@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Manrope", sans-serif;
}

header {
  background-color: rgb(19, 70, 33);
  position: -webkit-sticky;
  position: sticky;
  color: white;
  top: 0;
  width: 100%;
  transition: cubic-bezier(0, 1, 0.3, 1) 1s;
}

header div {
  align-items: center;
  justify-content: center;
  height: 4.3rem;
  display: flex;
  padding: 0;
  gap: 15vw;
}

img {
  height: 2.3rem;
}

header div ul {
  display: flex;
}

li {
  padding: 10px 20px;
  text-align: center;
  transition: cubic-bezier(0, 1, 0.5, 1) 1s;
}

li:hover {
  color: rgb(25, 153, 42);
  cursor: pointer;
}

.menuHamb {
  width: 3rem;
  padding: 0.5rem;
  color: white;
}

.mobMode {
  display: none;
}

header:hover {
  z-index: 999;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

li.liFilled {
  margin-left: 10px;
  background-color: rgb(25, 153, 42);
  font-weight: bold;
  border-radius: 2rem;
  transition: cubic-bezier(0, 1, 0.5, 1) 0.35s;
}

li.liFilled:hover {
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scaleX(1.2) scaleY(1.2);
}

body {
  margin-bottom: 5rem;
}

.landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(19, 70, 33);
  height: 80vh;
  background-image: url(img/somos_ideais-divider-bottom.png);
  z-index: 2;
  left: 0;
  background-repeat: no-repeat;
  background-position: center bottom;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

.buttonFilled {
  background-color: rgb(25, 153, 42);
  color: white;
  font-weight: bold;
  border-radius: 2rem;
  padding: 1rem 4rem;
  transition: cubic-bezier(0, 1, 0.5, 1) 1s;
}

.buttonFilled:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scaleX(1.2) scaleY(1.2);
}

.buttonUnfilled {
  background-color: rgba(255, 255, 255, 0);
  border: solid 2px;
  border-color: rgb(19, 70, 33);
  color: rgb(19, 70, 33);
  font-weight: bold;
  border-radius: 2rem;
  padding: 1rem 4rem;
  transition: cubic-bezier(0, 0.92, 0.14, 1) 0.5s;
  text-align: center;
}

.buttonUnfilled:hover {
  background-color: rgb(19, 70, 33);
  color: white;
}

.serv {
  margin-top: 4rem;
  color: black;
}

.serv h3 {
  color: black;
  text-align: center;
}

.card-container {
  display: flex;
  margin: 5rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.card {
  display: flex;
  background-color: rgb(218, 218, 218);
  flex-direction: column;
  padding: 2rem;
  max-width: 15rem;
  min-width: 15rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.226);
  transition: 0.1s;
}

.card:hover {
  transform: scale(1.07);
}

.lista {
  text-align: center;
}

@media (max-width: 850px) {
  .pcMode {
    display: none;
  }
  .mobMode {
    display: flex;
  }
  header div {
    justify-content: space-between;
    margin: 0 5rem;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */